body {
  background:  #f8f8f8;
  font-family: "Roboto Slab", serif;
  color: rgb(66, 66, 66);
}

.footer {
  height: 80px;
  width: 100%;
  padding: .5rem 1rem;
  border-top: 1px solid rgba(0,0,0,.1);
  background: #f8f8f8;
  display: flex;
}

.body {
  margin-top: 95px;
  margin-bottom: 85px;
}

.bb {
 border-bottom: 1px solid rgba(0,0,0,.1);
}

.SectionHeader {
  width: 100%;
  padding: 8px;
  height: 60px;
}

.main-b {
  background: #f8f8f8;
}

.sec-c {
  color: rgb(66, 66, 66);
}

a {
  color: rgb(60, 165, 255);
}

ul {
  padding-top: 16px;
  padding-left: 16px;
}

.CardImage {
  border-radius: 3px;
  -moz-box-shadow: 1px 1px 8px #686868;
  -webkit-box-shadow: 1px 1px 8px #686868;
  box-shadow: 1px 1px 8px #686868	;
}

.col {
  padding: 0 !important;
}

.container {
  padding-top: 16px;
  padding-bottom: 32px;
  border-radius: 3px;
  -moz-box-shadow: 1px 1px 8px #686868;
  -webkit-box-shadow: 1px 1px 8px #686868;
  box-shadow: 1px 1px 8px #686868	;
}

img {
  max-width: 100% !important;
}

.card {
  margin-top: 24px !important;
}