body {
  background: #484848;
  font-family: "Roboto Slab", serif;
  color: rgb(66, 66, 66);
}

.footer {
  height: 80px;
  width: 100%;
  padding: 0.5rem 1rem;
  border-top: 1px solid #787878;
  background: #484848;
  display: flex;
  color: #f5f5f5;
}

.body {
  margin-top: 80px;
  margin-bottom: 85px;
  min-height: 100vh;
}

.spacer {
  height: 30px;
}

@media (max-width: 576px) {
  .body {
    margin-top: 135px;
    margin-bottom: 0px;
  }

  .main-text {
    top: 10rem !important;
    left: 2rem !important;
  }

  .b-img {
    background-image: url("/mobile-init.jpg") !important;
  }

  .spacer {
    display: none;
  }

  .blog-img {
    min-width: 100% ;
  }
}

.bb {
  border-bottom: 1px solid #787878;
}

.SectionHeader {
  width: 100%;
  padding: 8px;
  height: 60px;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
}

.main-b {
  background: #484848;
}

.sec-c {
  color: #f5f5f5;
}

a {
  color: rgb(60, 165, 255);
}

ul {
  padding-top: 16px;
  padding-left: 16px;
}

.CardImage {
  border-radius: 3px;
  -moz-box-shadow: 1px 1px 8px #686868;
  -webkit-box-shadow: 1px 1px 8px #686868;
  box-shadow: 1px 1px 8px #686868;
}

.col {
  padding: 0 !important;
}

.container {
  padding-top: 16px;
  padding-bottom: 32px;
  border-radius: 3px;
  -moz-box-shadow: 1px 1px 8px #f5f5f5;
  -webkit-box-shadow: 1px 1px 8px #f5f5f5;
  box-shadow: 1px 1px 8px #f5f5f5;
  background: #f5f5f5;
}

img {
  max-width: 100% !important;
}

.blog-img {
  max-height: 60vh !important;
  max-width: 50vw !important;
  margin-bottom: 16px;
}

.AboutMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-photo {
  width: 100vw;
  height: calc(100vh - 80px);
}

.main-text {
  position: absolute;
  top: 8rem;
  left: 4rem;
  color: #f5f5f5;
}

.BlogPage {
  padding: 16px
}

.bs {
  -moz-box-shadow: 1px 1px 8px  #686868;
  -webkit-box-shadow: 1px 1px 8px  #686868;
  box-shadow: 1px 1px 8px  #686868;
}

.b-img {
  background: black;
  background-image: url("/init.jpg");
  background-size: 100% 100%;
}

